<div class="container has-text-centered">
    <div class="columns">
        <div class="column is-hidden-mobile"></div>
        <div class="column center is-narrow">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Jobs
                    </p>
                </header>
                <div class="card-content">

                    <table class="table is-striped mx-auto is-hidden-mobile">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>   
                            {{#each Jobs}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{type}}</td>
                                    <td>{{formatDate started}}</td>
                                    <td>{{formatDate completed}}</td>
                                    <td>{{status}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>   

                    <div class="is-hidden-tablet">
                        {{#each Jobs}}
                            <div class="box">
                                <p>{{id}}</p>
                                <p>{{status}}</p>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>            
        </div>
        <div class="column is-hidden-mobile"></div>
    </div>


 
</div>